body{
    background-color: aqua;
    
    }
    h1{
        background-color:green;
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        
        
    }
    a{  
        text-decoration:none;
        text-align: justify;
        text-align: center;
        text-shadow: chocolate;
        font-display:calc(Gothic);
        padding: 50px 50px;
        margin: 30px;
        margin-top: 50px;
        margin-left: 700px;
        display: inline-block ;
        border-radius: 100px;
        background-color: orangered;
        font-size: 50px;
        ;
        }
        a:hover
        {
            background-color:yellow;
            box-shadow: 0 0 80px white, 0 0 60px white;
            border: 3px solid black;
            filter: brightness(80%);
            transition-delay: (50ms);
        }
    
    
    